<?xml version="1.0" encoding="utf-8"?>

<configuration>
    <startup>
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.1" />
    </startup>
    <appSettings>
        <add key="CashierName" value="Cashier" />
        <add key="CashierVatin" value="000000000000" />
        <add key="CompanyMail" value="mail@company.com" />
        <add key="ServerPaymentMethod" value="1"/>
        <add key="ServerSignMethodCalculation" value="4"/>

        <add key="AtolOnlineINN" value="5544332219" />
        <add key="AtolOnlineGroupID" value="v4-online-atol-ru_4179" />
        <add key="AtolOnlineHostname" value="https://v4.online.atol.ru" />
        <add key="AtolOnlineLogin" value="v4-online-atol-ru" />
        <add key="AtolOnlinePassword" value="iGFFuihss" />
        <add key="AtolOnlineDelay" value="2500" />

        <add key="FolderPath" value="" />
        <add key="IncludeSubfolders" value="True" />

        <add key="DefaultPositionName" value="Вывоз ТКО" />
        <add key="PositionEnabled" value="True" />
        <add key="AutosumEnabled" value="True" />
        <add key="ForceAutosumEnabled" value="True" />

        <add key="AtolHost" value="https://testonline.atol.ru/possystem/v4/" />
    </appSettings>
</configuration>