<?xml version="1.0" encoding="utf-8"?>

<nlog xmlns="http://www.nlog-project.org/schemas/NLog.xsd"
      xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
      xsi:schemaLocation="http://www.nlog-project.org/schemas/NLog.xsd NLog.xsd"
      autoReload="true"
      throwExceptions="true"
      internalLogLevel="Off">
    <targets>
        <target name="logfile" xsi:type="File"
                encoding="utf-8"
                layout="${date:format=HH\:mm\:ss.fff}|${Level} ${callsite} - ${message}"
                fileName="${basedir}/log/${date:format=yyyy-MM-dd}.log" archiveAboveSize="2097151"
                concurrentWrites="true"
                archiveFileName="${basedir}/log/arch/${date:format=yyyy-MM-dd}.log" archiveNumbering="Sequence"
                keepFileOpen="true"
                openFileCacheTimeout="10" maxArchiveFiles="1000" />

        <target name="errfile" xsi:type="File"
                fileName="${basedir}/log/error${date:format=yyyy-MM-dd}.csv" archiveAboveSize="2097151"
                concurrentWrites="true"
                encoding="utf8"
                archiveFileName="${basedir}/log/arch/error${date:format=yyyy-MM-dd}.csv" archiveNumbering="Sequence"
                keepFileOpen="true"
                openFileCacheTimeout="10" maxArchiveFiles="30">
            <layout xsi:type="CsvLayout" delimiter="Semicolon" withHeader="True">
                <column name="Время" layout="${longdate}" />
                <column name="Уровень" layout="${level:upperCase=true}" />
                <column name="Сообщение" layout="${message}" />
            </layout>

        </target>

        <target name="errfile_parsed" xsi:type="File"
                fileName="${basedir}/edited/${date:format=yyyy-MM-dd}.json"
                concurrentWrites="true"
                keepFileOpen="false"
                openFileCacheTimeout="10"
                archiveOldFileOnStartup="true"
                archiveFileName="${basedir}/edited/${date:format=yyyy-MM-dd}.{##}.json"
                archiveNumbering="Rolling"
                encoding="utf8"
                header="["
                footer="{}]">
            <layout type="CompoundLayout">
                <layout type="JsonLayout">
                    <attribute name="Time" layout="${longdate}" escapeUnicode="false" />
                    <attribute name="Level" layout="${level}" escapeUnicode="false" />
                    <attribute name="Message" layout="${message}" escapeUnicode="false" />
                    <attribute name="Item" encode="false" escapeUnicode="false">
                        <layout type="JsonLayout" includeAllProperties="true" maxRecursionLimit="2" />
                    </attribute>
                </layout>
                <layout type='SimpleLayout' text="," />
            </layout>
        </target>

        <target xsi:type="RichTextBox"
                name="rtxtLog"
                layout="${date:format=HH\:mm\:ss.fff}${pad:padding=7:inner=${level:uppercase=true}} ${message} ${onexception:${newline}  ${exception:format=ToString}}"
                autoScroll="true"
                maxLines="300"
                controlName="rtxtLog"
                formName="MainWindow"
                useDefaultRowColoringRules="true" />
    </targets>

    <rules>
        <logger name="*" minlevel="Trace" writeTo="logfile" />
        <logger name="*" minlevel="Warn" writeTo="errfile" />
        <logger name="BillingProvider.Core.Parsers.*" minlevel="Warn" writeTo="errfile_parsed" />
        <logger name="*" minlevel="Info" writeTo="rtxtLog" />
    </rules>
</nlog>